<nav>
    <h3>Gestão de Acessos</h3>
    <ul>
        <li (click)="modal.toggle()">Login</li>
        <li onclick="alert('abrir tela de cadastro')">Cadastre-se</li>
    </ul>
</nav>

<img [src]="imagePath" style="width: 100%;">


<app-modal #modal>
    <div class="container">
        <div class="box" style="justify-content: center;">
            <h2>Login</h2>
        </div>
        <div class="box" style=" margin-bottom: 10px; justify-content: center;
        ">
            <div style="display: inline-grid; margin-bottom: 15px; ">
                <form #loginForm="ngForm" class="login-form">
                    <div class="form-field">
                        <label class="lab">Email</label>
                        <input type="email" style="width: 100%;"  placeholder="Digite o Email" name="email"
                        ngModel required>
                    </div>
                    <div class="form-field">
                        <label class="lab">Senha</label>
                        <input type="password" style="width: 100%;" placeholder="Digite a senha" name="password"
                        ngModel required>
                    </div>
                    <p class="error" *ngIf="error">Usuário/senha inválidos, tente novamente!</p>
                </form>

            </div>
            

        </div>

        <div class="box" style="justify-content: center;">
            <button  (click)="validateUser(loginForm);"  class="form-submit-button">Logar</button>
        </div>
        <div style="justify-content: center;" class="box">

            <button (click)=" modal.toggle();"  class="form-cancel-button">Cancelar</button>

        </div>




    </div>



</app-modal>




<app-footer>
</app-footer>